@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

body {
    font-family: 'Eater', cursive;
}

.swamp-bg {
    background-color: #4a472a; /* brownish green swamp */
}
.swamp-bg {
    color: white;
}
.img-wrapper {
    position: relative;
    width: 120px;
    transition: transform 0.3s ease;
}

.img-wrapper img {
    width: 100%;
    filter: blur(2px);
    transition: transform 0.3s, filter 0.3s;
}

.img-wrapper:hover img {
    transform: scale(1.3);
    filter: blur(0);
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.img-wrapper:hover .caption {
    opacity: 1;
}